.PennController {
    width: 40em !important; /* controls the witdth of the content area */
    margin-left: calc(50vw - 60em); /* aligns the content area's left edge with the vertical center of the page */
}
.eyetracked {
    /* Delete or comment out the line below to remove the frame around the eye-tracked Canvas */
    outline: solid 5px purple;
}